{% extends "base.html"%}
{%block title%}
	<title>inicio</title>
{%endblock%}

{%block contenido%}
	<div class="container">
		<div class="header">
			<div class="content">
				<div class="col-xs-3 columna">
					<img src="static/img/url.jpg" class="logo"/>
				</div>
				<div class="col-xs-6 columna">
					<nav class="mainmenu">
						<ul>
							<li class="home">
								<a href="">HOME</a>
							</li>
							<li class="reglas">
								<a href="">REGLAS</a>
								
							</li>
							<li class="registro">
								<a href="">REGISTRO</a>
							</li>
							<li class="logo">
								<a href="">LOGO</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="col-xs-3 columna ">
					<div class="info">
						<p>
							
							
						</p>
					</div>
				</div>
			</div>	
		</div>
{%endblock%}

{%block foorter%}
{%endblock%}